<div id="banner" scroll>
	<div id="header">
		<div id="titleAndImageWrapper">
			<div id="ImageCropper" ng-class="atTop || atTop == null ? 'animate-top' : 'animate-scroll'">
				<a href="/"><img src="/assets/images/Profile.jpg" id="ProfilePic" /></a>
			</div>
			<h1 id="Title">
				<a target="_self" href="/">Engineer In Dev</a>
			</h1>
		</div>
	</div>
	<div class="navibar" ng-class="fixNavbar()">
		<div class="social-wrapper">
			<a class="fa fa-github fa-3x" href="https://github.com/rvbmrdonut"></a>
			<a class="fa fa-linkedin fa-3x" href="https://www.linkedin.com/profile/view?id=339436721&trk=hp-identity-name"></a>
			<a class="fa fa-twitter fa-3x" href="https://twitter.com/MatthewVHartz"></a>
		</div>
		<div class="navibar-options">
			<ul>
				<li><a href="../about">about</a></li>
				<li><a href="../contact">contact</a></li>
				<li><a href="../archive">past</a></li>
			</ul>
		</div>
	</div>
</div>