*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
}

body {
    font-family: 'Arvo', serif !important;
    font-size: 16px;
}

#Content {
    padding: 20px;
    height: auto;
    width: 960px;
    margin: 0 auto;
}

#banner {
    background-color: #E53935;
    width: 100%;
    overflow: hidden;
    display: block;
}

#banner * {
    color: white;
}

#titleAndImageWrapper {
    position: relative;
    top: 8px;
}

.navibar {
    height: 70px;
    margin: 0;
    padding: 0 20px 0 20px;
    background-color: #EF5350;
    text-align: center;
}

.navibar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    border-radius: 0;
}

.navibar-margin {
    height: 70px;
}

.navibar-options {

    height: 100%;
}

.navibar-options > ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 100%;
}

.navibar-options li {
    float: left;
    -webkit-transition: background-color .3s linear;
    transition: background-color .3s linear;
}

.navibar-options li:hover {
    background-color: #E53935;
}


.navibar-options a {
    text-decoration: none;
    padding: 24px 24px 24px 24px;
    height: 100%;
    width: 100%;
    display: block;
}

#header {
    text-align: center;
}

#ImageCropper {
    width: 80px;
    height: 80px;
    overflow: hidden;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 1000;
}

#ProfilePic {
    display: inline;
    margin: 0 -40px;
    height: 100%;
    width: auto;
}

#Title {
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 10px;
    top: -20px;
}

#Title > a {
    text-decoration: none;
}

/*#CopyRight {
    position: fixed;
    bottom: 20px;
    margin: 0 auto;
}*/

.animate-top {
    opacity: 1;
}

.animate-scroll {
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
    transform: scale(.6,.6);

    position: fixed;
    top: -4px;
    left: 25%;
}

.BlogTitle {
    text-align: center;
}

.search-wrapper {
    display: inline-block;
    width: 100%;
}

.search-box {
    width: 100%;
    padding-right: 30px;
    display: inline-block;
    color: #424242 !important;
}

.search-icon {
    position: relative;
    float: right;
    right: 12px;
    top: 26px;
    color: #9e9e9e !important;
}

.social-wrapper {
    float: left;
    margin: 18px 0 0 0;
    position: absolute;
}

.social-wrapper > a {
    font-size: 30px;
    margin-right: 10px;
}

.MetaSection {
    margin: 5px 0 5px 0;
}

.Tag {
    padding: 5px 5px 5px 5px;
    background-color: #B3E5FC;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.Result {
    margin: 10px 0 40px 0;
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    -webkit-transition: background-color .3s linear;
    transition: background-color .3s linear;
}

.Result:hover {
    background-color: #EEEEEE;
}